<% for calendar in @calendars %>
<div class="date">
  <%= calendar.created_at.to_date %>
</div>
<div class="title">
  <%= calendar.name %>
</div>
<% end %>
<div class="content">
<%= link_to 'Create', new_calendar_path %>
</div>